.khan__buy-link {
  text-decoration: none;
  color: #2F80ED;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  transition: .7s;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: .3;
}

